<nav class=" navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a routerLink="home" class="navbar-brand Logo-brand" aria-current="page"><span
                class="text-main">E</span>vent<span class="text-main">T</span>ribe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="d-flex" role="search">
            <input class="form-control search   rounded-4 me-2" type="search" placeholder="Search" aria-label="Search">

        </form>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav d-flex a-nav  m-auto">
                <a routerLink="creatE" routerLinkActive="active-main" class="nav-link active"
                    aria-current="page">CreateEvent</a>
                <a routerLink="favorite" routerLinkActive="active-main" class="nav-link">Favorites</a>
                <a routerLink="HCentre" routerLinkActive="active-main" class="nav-link">HelpCentre</a>
                <a routerLink="emily" routerLinkActive="active-main" class="nav-link">Emily</a>

            </div>
        </div>

    </div>
</nav>